[2019-12-03 11:30] heyizhang opened #1 "The Rainbowe is uncompatible with the Pycharm‘s specification or format when list of strings in multiple lines"
就是一点儿小瑕疵：
要是按照 Pycharm 建议的 indent format， 那 rainbow indent 就会报红
![image](https://user-images.githubusercontent.com/33022132/70047271-ae67b800-1602-11ea-966e-21d17c101be3.png)

 按照正常缩进， Pycharm 又会给出下波浪线提示： re-format
![image](https://user-images.githubusercontent.com/33022132/70047335-d48d5800-1602-11ea-98cb-5ac933c375d7.png)

要是能兼容一下，更好。最后感谢作者写出这么好的插件！

[2019-12-03 12:25] dima74 commented on #1
@heyizhang Hello and thank you for reporting! I will try to fix it when I have free time

[2020-01-06 12:58] dima74 commented on #1
@heyizhang fixed in [version 1.1.0](https://plugins.jetbrains.com/plugin/13308-indent-rainbow/update/74976). Now plugin highlights only indentation (and not alignment):

![image](https://user-images.githubusercontent.com/6505554/71819409-e5673880-309c-11ea-96c3-d1f3ecf88931.png)

(More about indentation vs alignment [here](https://dmitryfrank.com/articles/indent_with_tabs_align_with_spaces).)

---

[2020-01-06 12:58] #1 closed

[2020-01-06 13:09] heyizhang commented on #1
Thank you very much!

[2020-01-20 06:38] pointedWalnutZhang opened #2 "Exception: taDefault.backgroundColor must not be null"
The rainbow does not work with following exception.

version:

[code]

Exceptions
[code]

[2020-01-20 10:49] dima74 commented on #2
@pointedWalnutZhang could you please specify which version of Indent Rainbow you are using?

[2020-01-21 15:52] dima74 commented on #2
@pointedWalnutZhang I made some fixes, could you please update plugin to the latest version (1.1.1).

Also please consider updating IntelliJ IDEA to latest version (2019.3).

[2020-01-22 01:04] pointedWalnutZhang commented on #2
It works after I update my Intellij

[2020-01-22 01:04] #2 closed

[2020-01-24 19:29] evliu opened #3 "Configurable Colors"
Thanks for this plugin; it's great. My main issue is that the colors are hard to see against my IDE background; is there a way to configure the colors so I can make then a little lighter or less opacity? Thanks!

[2020-01-28 04:36] totodo713 opened #4 "An exception occured in initializing"
hi,

This error is my environments problem?
I use at RubyMine 2018.3.5 .

thanks.
[code]
My environment is:
![image](https://user-images.githubusercontent.com/35787394/73235590-5f896980-41d2-11ea-9992-635a905c36ec.png)

In `idea.log`
[code]

[2020-01-30 08:34] dima74 commented on #3
@evliu Yes, I added options to change colors in latest release (1.2.0). Instructions are in [README](https://github.com/dima74/intellij-indent-rainbow#change-colors). Could you please try it out

[2020-01-30 08:37] dima74 commented on #4
@totodo713 thank you for report! I made some changes in latest version (1.2.0), which hopefully will fix the issue. Could you please try it out

[2020-01-31 07:06] evliu commented on #3
Perfect! Thanks!!!

[2020-02-03 19:24] dima74 commented on #3
Thank you for reporting and feel free to ask any questions or submit feature requests!

[2020-02-03 19:24] #3 closed

[2020-02-06 07:32] totodo713 commented on #4
@dima74 I thank you too that patched issues. I trying version 1.2.0 and this problem is not occured yet.
If this is to be occured, I will make a new issue ticket. Please close this.

thanks.

[2020-02-10 20:14] #4 closed

[2020-02-12 10:12] bluelovers opened #5 "ide freeze with file has many lines"
https://youtrack.jetbrains.com/issue/IDEA-232747

video
[bandicam 2020-02-12 10-22-42-592.zip](https://github.com/dima74/intellij-indent-rainbow/files/4191229/bandicam.2020-02-12.10-22-42-592.zip)

[2020-02-18 18:05] dmurat opened #6 "Feature request - some kind of support for wrapped indentations"
It will be great to have some sort of support for indentations appearing because of wrapping. Currently, they are reported/colored as errors which significantly reduces usability of otherwise great plugin.

I think it will be enough to allow the option to not color as error indentations which are by grater than the base indentation width by some multiplier.

Tnx.

[2020-02-18 18:14] dima74 commented on #6
@dmurat thank you for request. Could you please provide screenshot which illustrates the problem?

[2020-02-18 18:18] dmurat commented on #6
Sure, here it is.
![Screenshot 2020-02-18 at 19 17 17](https://user-images.githubusercontent.com/470930/74765208-6bbd8f80-5283-11ea-949e-b18099a5e7d8.png)

[2020-02-21 21:23] FirstTimeInForever opened #7 "Not keeping up with errors / Not dynamic enough"
Highlighting breaks on any error (e. g. when you type). It is very annoying.

![Screen-Recording-2020-02-22-at-0](https://user-images.githubusercontent.com/7830574/75072870-607b9580-5509-11ea-8951-9258919539ec.gif)

[2020-02-21 21:30] FirstTimeInForever opened #8 "Feature request: Make edges round"
It would be great.

[2020-02-26 18:54] #7 closed

[2020-02-26 18:55] dima74 commented on #7
Fixed in [version 1.3.0](https://plugins.jetbrains.com/plugin/13308-indent-rainbow/update/79251)

[2020-03-18 12:12] dima74 commented on #5
@bluelovers could you please update to latest version (1.4) and test performance? I made highlighting incremental in version 1.4, so it should be much faster now, especially on large files

[2020-03-18 12:21] dima74 commented on #6
@dmurat plugin highlights indent in red based on default IntelliJ formatter. If some line is highlighted in red, it means that after "Reformat Code" action this line indent will be changed. So you have four options:

1) [Reformat your code](https://www.jetbrains.com/help/idea/reformat-and-rearrange-code.html)
2) [Configure your code style](https://www.jetbrains.com/help/idea/configuring-code-style

[2020-03-18 12:26] dima74 opened #9 "Cut through multiline strings"
Example:

![](http://i.imgur.com/x8WgmEM.png)

Originally reported at [plugin markeplace](https://plugins.jetbrains.com/plugin/13308-indent-rainbow/reviews#review=38129)

[2020-03-18 19:42] dima74 opened #10 "Support language injections"
https://www.jetbrains.com/help/idea/using-language-injections.html

[2020-03-19 10:24] BorzdeG opened #11 "AssertionError: indentSpaces: 2, tabSize: 4"
plugin version: 1.4.0

[code]

IntelliJ IDEA 2020.1 EAP (Ultimate Edition)
Build #IU-201.6487.11, built on March 18, 2020
IntelliJ IDEA EAP User
Expiration date: April 17, 2020
Runtime version: 11.0.6+8-b765.15 x86_64
VM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
macOS 10.15.4
GC: ParNew, ConcurrentMarkSweep
Memory: 1979M
Cores: 12
Non-Bundled Plugins: KotlinTIOBE, PlantUML integration, String M

[2020-03-19 11:49] dima74 commented on #11
@BorzdeG Thank you for report! Could you please provide file on which exception occurs?

[2020-03-23 11:51] dima74 commented on #11
Starting from version 1.4.1 such errors no longer break highlighting. In particular plugin now just logs error instead of throwing an exception (though IntelliJ will still display that exception occurs).

[2020-04-04 13:28] drhumlen opened #12 "F# support"
F# doesn't seem to work with the plugin. Would it be possible to have it look at indentation only and colorize based on that? F# shouldn't be different from any other language in that regard?

[2020-04-04 14:15] dima74 commented on #12
@drhumlen thank you for reporting! I will take a look. Could you please specify your plugin version? Also please try to switch to [simple highlighter](https://raw.githubusercontent.com/dima74/intellij-indent-rainbow/master/assets/choose-simple-annotator.png) as a workaround (though I am not sure if it works with F#)

[2020-04-04 23:19] drhumlen commented on #12
I've tried all highlighter types, including `Simple, incremental`.

I'm using version 1.4.1 of the plugin.

And:
JetBrains Rider 2020.1 EAP 7
Build #RD-201.6668.91, built on April 2, 2020
Rider EAP User
Expiration date: May 2, 2020
Runtime version: 11.0.6+8-b765.17 x86_64
VM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
.NET Core 3.1.3
macOS 10.15.3
GC: ParNew, ConcurrentMarkSweep
Memory: 1450M
Cor

[2020-04-06 19:21] dima74 commented on #12
Ok, I reproduced the issue. I think ideally it should be fixed on [Rider side](https://youtrack.jetbrains.com/issue/RIDER-21994) because some other plugins are also affected, [for example rainbow-brackets](https://github.com/izhangzhihao/intellij-rainbow-brackets/issues/186). But I will try to implement some workaround

[2020-04-06 19:24] dima74 commented on #5
Closing as resolved. Please feel free to reopen if you still encounter performance issues!

[2020-04-06 19:24] #5 closed

[2020-04-06 19:27] dima74 commented on #6
Closing as answered. Please feel free to reopen if you still have questions!

[2020-04-06 19:27] #6 closed

[2020-04-07 09:45] dima74 commented on #12
@drhumlen could you please try latest plugin version (1.4.2)?

[2020-04-08 08:51] drhumlen commented on #12
@dima74 : It seems to work now 😄 Nice!

It seems to be a little flaky sometimes though. I need to do some more testing.

[2020-04-28 19:15] dima74 commented on #11
@BorzdeG are you still encounter this problem? If yes could you please provide file on which exception occurs?

[2020-04-29 06:49] BorzdeG commented on #11
No, I don’t see any obvious errors yet. If it appears - I will open a new issue with an example file

[2020-04-29 06:49] #11 closed

[2020-05-04 10:26] danielgafni opened #13 "Opacity setting seems to not have any effect"
The title. I can provide screenshots if needed, but basically the opacity is just always the same (default) for me even if i change it.

[2020-05-04 16:11] dima74 commented on #13
@danielgafni thanks for reporting! Could you please provide plugin version, IntelliJ version (Help / About / Copy) and your what is operation system

[2020-05-05 11:20] danielgafni commented on #13
[code]
Plugin version - 6.3

[2020-05-05 11:37] dima74 commented on #13
@danielgafni thanks! Could you please also provide screenshot? Also I am not sure about plugin version, [latest IndentRainbow plugin version is 1.4.2](https://plugins.jetbrains.com/plugin/13308-indent-rainbow/versions) and [6.3 is latest version of RainbowBrackets](https://plugins.jetbrains.com/plugin/10080-rainbow-brackets/versions) (it is another plugin)

By the way here is what is expected resu

[2020-05-07 14:06] danielgafni commented on #13
Yeah sorry, I indeed accidentally gave you the Rainbow Brackets version.
Indent Rainbow version is 1.4.2
Here are the screenshots. I've been restarting PyCharm in between taking them just to make sure the setting is being loaded. I've also tried setting the color to white - same outcome.

![Screenshot_20200507_165845](https://user-images.githubusercontent.com/49863538/81303974-183e2f00-9085-11ea-9

[2020-05-12 08:35] Alexsey opened #14 "Crash report"
Unfortunately, I cannot tell what code cause this because I miss the moment it happened. I'll add more details if I'll get it reproduced
<details>
  <summary>Stacktrace </summary>
  <p>

[code]
  </p>
</details>

[2020-05-22 09:51] qingweiSun opened #15 "dart可否优化啊"
![image](https://user-images.githubusercontent.com/16513906/82655458-cb498380-9c54-11ea-96e6-1ff3b0f5fe60.png)

[2020-05-22 10:45] dima74 commented on #15
@qingweiSun thanks for report! Could you please provide full file?

---

Also here is relevant excerpt from [FAQ](https://github.com/dima74/intellij-indent-rainbow#faq):

Please let me know whether it helps. Thanks!

[2020-05-22 10:50] dima74 commented on #12
@drhumlen Hello! Can we close this issue or is there anything related to F# I could improve?

[2020-05-22 10:57] dima74 opened #16 "Automatic exception reports"
It would be nice to implement something like automatic issue creation when exception occurs. It is not clear how to do it, though.

Other projects have something similar:
* [intellij-rainbow-brackets](https://github.com/izhangzhihao/intellij-rainbow-brackets/issues?q=is%3Aissue+label%3A%22auto+generated%22+)
* [IntelliJDeodorant](https://github.com/JetBrains-Research/IntelliJDeodorant/issues?q=is%

[2020-05-25 01:17] qingweiSun commented on #15
1：Invalid reformat
2：Use "simple highlighter" (not recommended)

[2020-05-25 01:17] #15 closed

[2020-05-28 10:04] dima74 commented on #16
https://github.com/jansorg/intellij-error-reporting

[2020-05-30 10:13] drhumlen commented on #12
Yes. I think it's working mostly as intended now.

There's still some room for improvement when it comes to what defines an indentation level though. In F# the indentation can often be inconsistent and not always a perfect X * tabSize. I don't have a good suggestion for that. But the indentation guides in Rider are usually spot on. Perhaps it's possible to colorize the already existing indentation

[2020-05-30 10:13] #12 closed

[2020-05-30 11:24] dima74 commented on #12
@drhumlen thanks for the suggestion, I think it is possible. Could you please provide code sample and/or screenshot (with current plugin behaviour) for me to better understand use case

[2020-06-05 01:17] Veraxus opened #17 "Indents don't appear on multiline comments or doc blocks"
In PHP, indents are not applied to multiline comments beyond the first line. See attached screenshot.

![image](https://user-images.githubusercontent.com/587527/83825901-70ba1980-a68f-11ea-8be4-0c00289cdc0b.png)

[2020-06-05 10:45] dima74 commented on #17
@Veraxus thanks for the report! I already fixed this, will make new release soon

[2020-06-08 11:36] dima74 commented on #9
Fixed in 1.5.0:

![image](https://user-images.githubusercontent.com/6505554/84026148-3958af00-a9a6-11ea-84d6-6787b7b5c8f8.png)

Not working for strings with [language injections](https://www.jetbrains.com/help/idea/using-language-injections.html) though...

[2020-06-08 11:42] dima74 commented on #17
@Veraxus fixed in version 1.5.0!

![image](https://user-images.githubusercontent.com/6505554/84026535-f0edc100-a9a6-11ea-8096-4eea60ab09d3.png)

[2020-06-08 11:42] #17 closed

[2020-06-08 11:44] dima74 commented on #16
Fixed in 1.5.0, now exceptions are reported to [Sentry](https://sentry.io/)

[2020-06-08 11:45] #16 closed

[2020-06-08 11:48] dima74 commented on #13
@danielgafni sorry for so long response. Could you please:
* update to the latest version (1.5.1), where I added more logging
* change opacity multiplier
* send me your [idea.log file](https://intellij-support.jetbrains.com/hc/en-us/articles/207241085-Locating-IDE-log-files)

[2020-06-08 11:54] dima74 opened #18 "Inspections hides indent rainbow"
![image](https://user-images.githubusercontent.com/6505554/84027515-86d61b80-a9a8-11ea-87d0-5395df00e72a.png)

[2020-06-08 12:03] dima74 commented on #10
In 1.4.2 language injections are mostly highlighted in red:
![image](https://user-images.githubusercontent.com/6505554/84028089-8d18c780-a9a9-11ea-959e-db46081a5307.png)

In 1.5.1. highlighting in red was fixed:
![image](https://user-images.githubusercontent.com/6505554/84028282-de28bb80-a9a9-11ea-8411-0893fbe47f02.png)

[2020-06-08 12:03] #10 closed

[2020-06-08 13:16] #9 closed

[2020-06-16 07:15] izhangzhihao opened #19 "Some exceptions reported by intellij-rainbow-brackets"
- Plugin Name:
- Plugin Version: 6.5
- OS Name: Mac OS X
- OS Version: 10.15.4
- Java Version: 11.0.7
- App Name: WebStorm
- App Full Name: WebStorm
- Is Snapshot: false
- App Build: WS-201.7846.79
- StackTrace:

[code]

[2020-06-16 07:15] izhangzhihao commented on #19
- Plugin Name:
- Plugin Version: 6.5
- OS Name: Linux
- OS Version: 5.4.0-37-generic
- Java Version: 11.0.7
- App Name: IDEA
- App Full Name: IntelliJ IDEA
- Is Snapshot: false
- App Build: IU-201.7846.76
- StackTrace:

[code]

[2020-06-16 07:15] izhangzhihao commented on #19
- Plugin Name:
- Plugin Version: 6.5
- OS Name: Linux
- OS Version: 5.4.0-37-generic
- Java Version: 11.0.7
- App Name: IDEA
- App Full Name: IntelliJ IDEA
- Is Snapshot: false
- App Build: IU-201.7846.76
- StackTrace:

[code]

[2020-06-23 02:36] heihei180 opened #20 "start error"
[code]

[2020-06-23 02:38] heihei180 commented on #19
我发现都是这个问题，我卸载了这个插件

[2020-06-23 02:41] heihei180 commented on #19
我发现都是这个问题，我卸载了这个插件

[2020-06-23 09:38] dima74 commented on #20
@heihei180 thanks for reporting! Could you please provide:
* Plugin version
* IntelliJ version
* Product type (IntelliJ IDEA / WebStorm / PyCharm / ...)
* If possible, [`idea.log` file](https://intellij-support.jetbrains.com/hc/en-us/articles/207241085-Locating-IDE-log-files)

[2020-06-23 09:51] heihei180 commented on #20
@dima74
plugin version ：1.4.2
idea version：IntelliJ IDEA 2018.2.5 x64
product type ： idea
### i can't confirm this  document
idea。log：
`"AWT-EventQueue-0" prio=0 tid=0x0 nid=0x0 runnable
     java.lang.Thread.State: RUNNABLE

	at java.lang.ClassLoader.defineClass1(Native Method)
	at java.lang.ClassLoader.defineClass(ClassLoader.java:763)
	at java.lang.ClassLoader.defineClass(ClassLoader.java:642)

[2020-06-23 10:14] dima74 commented on #20
@heihei180 thanks for the response! It turns out that Indent Rainbow 1.4.2 is not compatible with IntelliJ 2018.2. Please consider updating IntelliJ to 2018.3 (or better 2020.1)

[2020-06-23 10:15] heihei180 commented on #20
@dima74
Thank you, brother from Russia

[2020-07-29 09:21] PashaWNN opened #21 "[Enhancement] configurable count of indentation level colors"
Make indentation colors configurable. In particular, I do want to see real rainbow with seven colors.

[2020-07-29 09:22] PashaWNN commented on #21
Sorry, I see instruction in README

[2020-07-29 09:25] PashaWNN commented on #21
I see there's only four levels of indentation. It would be great to be able to set custom count of colors. For example, 7.

[2020-07-29 10:37] danielgafni commented on #13
It is working now. Thanks!

[2020-07-29 10:37] #13 closed

[2020-08-13 17:44] keeganwitt opened #22 "Configurable file types"
It'd be cool if you could specify what file types the plugin should work on, the way you can in the VS Code [plugin](https://marketplace.visualstudio.com/items?itemName=oderwat.indent-rainbow).  I like to have things like Python and YAML highlighted, but not other types.

[2020-08-15 07:34] dima74 commented on #20
Closing as answered. Feel free to reopen if you have any other questions!

[2020-08-15 07:35] #20 closed

[2020-08-30 14:24] dima74 commented on #22
@keeganwitt thanks for the suggestion! Please try out this plugin build: [indent-rainbow-1.6-dev.zip](https://github.com/dima74/intellij-indent-rainbow/files/5146945/indent-rainbow-1.6-dev.zip), where I added [an option to choose specific file types plugin should work on](https://user-images.githubusercontent.com/6505554/91661523-10a00b80-eaf6-11ea-9227-d5b42280a8c2.png). You can use this pattern:

[2020-08-30 14:26] dima74 commented on #21
@PashaWNN thanks for the suggestion! Please try out this plugin build: [indent-rainbow-1.6-dev.zip](https://github.com/dima74/intellij-indent-rainbow/files/5146945/indent-rainbow-1.6-dev.zip), where I added [an option to choose color palette in settings](https://user-images.githubusercontent.com/6505554/91661297-94f18f00-eaf4-11ea-9d8e-0a97ba7ae982.png). There is new `pastel` palette with 6 colors

[2020-08-31 22:52] keeganwitt commented on #22
Thanks for this!  I tried it out and it seems to be working as expected.

[2020-09-11 14:20] dima74 commented on #22
Version 1.6 [was published to plugin marketplace](https://plugins.jetbrains.com/plugin/13308-indent-rainbow/versions/stable/96391), thanks for your feedback!

[2020-09-11 14:20] #22 closed

[2020-09-11 14:22] dima74 commented on #21
Version 1.6 [was published to plugin marketplace](https://plugins.jetbrains.com/plugin/13308-indent-rainbow/versions/stable/96391), feel free to provide feedback and request any other features!

[2020-09-11 14:22] #21 closed

[2020-10-07 13:11] krzyk opened #23 "Add a toggle to show only inorrect indentation"
Great plugin, but I use it mostly to get the color for incorrect indentation.

So I would suggest to add a toggle that would disable the normal coloring mode and enable just the incorrect indentation.
I know I can change the colors in settings and visually disable all other colorings but it won't save the added CPU usage of this plugin (e.g. when I scroll down a  large file I can see how it slowly

[2020-11-06 13:51] dima74 commented on #23
@krzyk thank you for the suggestion! Please update the plugin to [version 1.6.1](https://plugins.jetbrains.com/plugin/13308-indent-rainbow/versions/stable/101424), where the option was added:

![image](https://user-images.githubusercontent.com/6505554/98372971-9c329d00-204f-11eb-91f4-5d2659fc273e.png)

[2020-11-06 13:51] #23 closed

[2020-11-06 15:40] krzyk commented on #23
Thank you :)

[2020-12-06 22:26] dima74 opened #24 "Highlight indent of the current bracket"
That indent color can be shown with full opacity, while others are shown with customized ones.

![image](https://user-images.githubusercontent.com/6505554/101294855-2460b980-382b-11eb-8670-1125052c5f2c.png)

[2021-01-11 09:44] ggalmazor opened #25 "Feature request: disable on big files"
## Expected Behavior

Overall IDE performance is negatively affected by this plugin when dealing with big files (hundreds of lines).

I would like to configure a threshold of lines so that, when the file I'm editing has more lines than those set on the threshold, then this plugin is automatically disabled for that file.

That way, I can set a threshold that works for my specific environment (memor

[2021-02-11 15:33] kst83 opened #26 "Privacy"
I'd like to use this plugin as it looks very useful, but in order to get it approved I need information on how it handles privacy.
Does it collect any personal information?
If so, what kind of data is collected and when is it collected?
Would also be great if you could add this to the documentation.

Thank you very much!

[2021-02-11 17:08] dima74 commented on #26
Thanks for interest in the plugin!

The plugin itself doesn't collect any information. Actually we even don't have any server or something where this information can be stored.

But we use [Sentry](https://sentry.io/) for error reporting. When some exception occurs in the plugin, IntelliJ offers user to send error report, which includes exception stacktrace, plugin version, IDE version, and some o

[2021-02-27 13:17] #26 closed

[2021-03-17 17:17] markuszeller commented on #25
When this plugin is active and I am running inspections for example on a Wordpress theme, it slows it extremely down - that much that it feels like a total freeze.

- Plugin version: 1.6.1
- PhpStorm 2020.3.3
- Windows 10 Build 19042

[2021-05-09 20:46] foto-andreas opened #27 "Performance problem with large XML files"
Hi,

I am facing a performance problem when viewing large xml files - without doing anything in the editor

See here: https://youtrack.jetbrains.com/issue/IDEA-268838

I reported it as IJ bug.

Andreas

[2021-05-27 00:01] alexxbb opened #28 "Enable on files setting"
How does **Enable on files** option work? I want the plugin to only work on *.py files and nothing else, however nothing that I put in this field actually works. Only * works, but on all files.

I tried ***.py** and **py**

[2021-05-27 00:03] alexxbb commented on #28
Ok, seems like ***py** work.

[2021-05-27 00:03] #28 closed

[2021-06-18 05:29] livem opened #29 "Has Indent Rainbow Plugin version for Sublime Text ?"
Indent Rainbow was greatest helpful for the coder.
Has any version for [Sublime Text](https://www.sublimetext.com/) 3 or 4 ? Or any plan?
Thanks.

[2021-06-20 12:37] dima74 commented on #29
Sorry, I am aware only of [VSCode version](https://marketplace.visualstudio.com/items?itemName=oderwat.indent-rainbow). I personally don't know how to develop plugins for Sublime Text, so no plans either

[2021-06-20 14:19] YetAnotherDevWannabe opened #30 "Disagreement between Indent Rainbow and PhpStorm with Twig"
When using Twig, indent rainbow and phpStorm seem to not agree on the correct indentation :

![IndentRainbowTwig](https://user-images.githubusercontent.com/6054349/122677500-cdc53680-d1e2-11eb-9fc4-14ea4b997b59.jpg)
This is after re-formating my code. Apparently, for phpStorm inside a twig block you need to indent, but not for IR.

This is what IR wants :

![IndentRainbowTwig2](https://user-images

[2021-06-21 00:58] livem commented on #29
Thanks for reply

[2021-06-21 00:59] livem commented on #29
Thanks for reply.

[2021-06-22 06:44] #29 closed

[2021-06-22 17:00] trustin opened #31 "Do not update color scheme when not needed"
I'm storing my IntelliJ IDEA settings in a Git repository using the [settings repository feature](https://www.jetbrains.com/help/idea/settings-tools-settings-repository.html). It will push any configuration changes, including color scheme settings, when IntelliJ IDEA exits. If nothing was changed, it will not push any commit to the settings repository.

The problem is, `intellij-indent-rainbow` pl

[2021-08-25 15:01] kaylamillerdev opened #32 "Opacity Slider not working for Intellij IDEA"
I have tried moving the slider around to make the indentation colors more transparent, but they still stay opaque regardless of the color and where the slider bar is.

[2021-11-02 14:23] t-ricci-delta opened #33 "[TypeScript] Method parameter destructuring"
Intent rainbow does not seem to like when I destructure typed parameters on methods in TypeScript

![image](https://user-images.githubusercontent.com/87062919/139865500-928a8063-8b1c-4e36-9190-8969255aa03c.png)

The indentation is configured as two spaces, and you can see a bright red background if **any** space is added at the start of the line after the open brackets and before the closing brack

[2021-11-02 14:30] dima74 commented on #33
@t-ricci-delta thanks for report!

Plugin highlights indent in red based on default IntelliJ formatter. If some line is highlighted in red, it means that after "Reformat Code" action this line indent will be changed. So you have four options:

1) [Reformat your code](https://www.jetbrains.com/help/idea/reformat-and-rearrange-code.html)
2) [Configure your code style](https://www.jetbrains.com/help/

[2021-11-02 14:36] t-ricci-delta commented on #33
I tried to run "Reformat Code" but the coding style remained the same. Also I'm using the Prettier extension as well:
https://plugins.jetbrains.com/plugin/10456-prettier

[2021-11-02 14:43] t-ricci-delta commented on #33
Regarding point 2. I haven't found any option to allow to indent if the parameter destructuring is carried over multiple lines instead of in the same line

[2021-11-02 14:50] dima74 commented on #33
Looks like the only option is to use "simple highlighter", since non-default formatter is used (Prettier)

[2021-11-02 15:00] t-ricci-delta commented on #33
Seems a problem of the default formatter for typescript (I disabled Prettier), this is what formatting the code looked like (ugly alignment of destructured parameter)

![image](https://user-images.githubusercontent.com/87062919/139872778-77f105f3-acef-4562-a528-6d03454ed4d4.png)

I'm still tinkering with the default code style to find out which option is behaving like that exactly

[2021-11-02 15:03] t-ricci-delta commented on #33
The error color to me was useful if the number of spaces was not even (multiple of configured tab width), but it's not what the plugin implementation is checking, if it relies on the formatter

[2021-11-02 15:08] dima74 commented on #33
This is exactly how simple highlighter works, if I remember correctly

[2021-11-02 15:12] t-ricci-delta commented on #33
Then I'll stick to it since for js/ts using Prettier is far more useful. It would be a nice to have the possibility to have the other languages (C#/Java) show the spacing from the default formatter though.

For now I'm content with the "simple highligher option" since I only care if there are mixed tabs/spaces or uneven number of spaces

[2021-11-02 15:12] #33 closed

[2021-11-02 15:17] dima74 opened #34 "Add option to use different highlighters for different languages"
See https://github.com/dima74/intellij-indent-rainbow/issues/33#issuecomment-957789956

[2021-11-10 03:47] kisekied opened #35 "Vertical line in the wrong place"
Thanks this great plugin, but I met a problem:

<img src="https://user-images.githubusercontent.com/4255044/141045736-5b2d6a61-8f7b-4813-9b23-d7fe6ffee150.png" width="375" alt="image">

As the picture above, the vertical line is not in the correct place, it has a small gap with the rainbow color block, is there any method to solve this or hide the vertical line? Thanks in advance!

[2021-11-11 11:30] dima74 commented on #35
Thanks for the report! You can hide these vertical lines by disabling `Show indent guides` option in `File | Settings | Editor | General | Appearance`

[2021-11-11 11:32] dima74 commented on #32
@kaylamillerdev Hello! Could you please specify version of the plugin, version of IntelliJ IDEA and your operation system?

[2021-11-11 12:19] dima74 commented on #30
Thanks for report and sorry for long response.

Which formatter do you use (built-in or some external one)? I can't reproduce it with default PhpStorm settings:

<img src="https://user-images.githubusercontent.com/6505554/141296727-929f9c11-0591-4335-94cf-3cd8514e1765.gif" width="50%">

[2021-11-11 18:29] YetAnotherDevWannabe commented on #30
Hi,

I believe I used a custom one at the time. Since then I had to switch to
vscode sadly so I don't know if I still have the problem.

Le jeu. 11 nov. 2021 à 13:19, Dmitry Murzin ***@***.***> a
écrit :

[2021-11-12 03:19] kisekied commented on #35
Thanks @dima74 !

I tried to hide indent lines in `Editor -> General -> Appearance`, the vertical line in current file did disappear, but when I opened another file, it still there.

I thought it maybe caused by another plugin, so I went to other plugins' setting page, and I finally found it is caused by the plugin `Rainbow Brackets`, it enables `Show rainbow indent guides` by default. When I dese

[2021-11-19 10:24] dima74 commented on #31
@trustin Thanks for your feedback! This should be fixed in the latest release [1.7.0](https://plugins.jetbrains.com/plugin/13308-indent-rainbow/versions/stable/146226)

[2021-11-19 10:24] #31 closed

[2021-11-19 10:30] dima74 commented on #25
@ggalmazor Thanks for your feedback! The option was added in the latest release [1.7.0](https://plugins.jetbrains.com/plugin/13308-indent-rainbow/versions/stable/146226):

![image](https://user-images.githubusercontent.com/6505554/142607826-baa78611-4dab-483a-8cac-7531d78b1412.png)

[2021-11-19 10:30] #25 closed

[2021-11-19 10:32] dima74 commented on #27
@foto-andreas Thanks for your feedback. We definitely need to improve the performance of the plugin. For now an option to disable Indent Rainbow in big files was added:

![image](https://user-images.githubusercontent.com/6505554/142607826-baa78611-4dab-483a-8cac-7531d78b1412.png)

[2021-11-19 10:34] dima74 commented on #34
Fixed in the latest release [1.7.0](https://plugins.jetbrains.com/plugin/13308-indent-rainbow/versions/stable/146226):

![image](https://user-images.githubusercontent.com/6505554/142608663-94bd5ed8-6a00-4571-9f32-db09bec3f5a5.png)

[2021-11-19 10:34] #34 closed

[2021-11-19 10:35] dima74 commented on #33
The option to use different highlighters for different languages was added in the latest release [1.7.0](https://plugins.jetbrains.com/plugin/13308-indent-rainbow/versions/stable/146226):

![image](https://user-images.githubusercontent.com/6505554/142608663-94bd5ed8-6a00-4571-9f32-db09bec3f5a5.png)

[2021-11-26 15:39] xsjcTony opened #36 "Different indent size in one file"
Thanks for the plugin, but I have a problem with vue SFC file.
![image](https://user-images.githubusercontent.com/45784210/143603784-bdf755a2-f2b8-4eb9-9e38-b27502576273.png)
In the code above, I have 4 spaces for `<template>` and `<style>`, but 2 spaces for `<script>` tag, but the color still changes per 4 spaces in `<script>` tag.
The plugin is working good in `.js` file with 2 spaces indent siz

[2021-11-27 22:11] xsjcTony opened #37 "Plugin consider loop codes after a label in JavaScript as error indent"
Hi, I found another bug regarding the label in JavaScript:

![image](https://user-images.githubusercontent.com/45784210/143722025-53a10ba8-c6b2-4854-9a4c-2f123ef49779.png)

All lines of the loop after a label is considered to be an error but it's actually not.
My IDE version is PhpStorm 2021.2.3.

Thanks

[2021-12-09 12:14] dima74 commented on #37
Hi! Plugin highlights indent in red based on default IntelliJ formatter. If some line is highlighted in red, it means that after "Reformat Code" action this line indent will be changed. So you have four options:

1) [Reformat your code](https://www.jetbrains.com/help/idea/reformat-and-rearrange-code.html)
2) [Configure your code style](https://www.jetbrains.com/help/idea/configuring-code-style.htm

[2021-12-09 12:28] xsjcTony commented on #37
I changed the code style settings in IDE and everything works well. Thanks a lot!

[2021-12-09 12:28] #37 closed

[2021-12-15 08:55] sascha-andres opened #38 "log4j issue"
At my company all machines are scanned for software "containing" the log4j vulnerability. This plugin is highlighted because it is using sentry in version 1.7.30.

Is there any update planned with a newer sentry version?

[2021-12-15 13:09] dima74 commented on #38
I checked the plugin jar and don't find the `log4j` library:
![image](https://user-images.githubusercontent.com/6505554/146191708-105a9a56-a1ce-4278-b5e3-b825143b604d.png)
Actually we [exclude log dependency from sentry](https://github.com/dima74/intellij-indent-rainbow/blob/70ec121f87d3a1e176cdcb20bd317e7fe947785b/build.gradle.kts#L28).

Btw sentry dependency will be removed in the next release.

[2021-12-15 13:37] sascha-andres commented on #38
I assume it is inside the sentry jar file, but this information helped a lot.

[2021-12-15 13:37] #38 closed

[2021-12-30 14:00] dima74 opened #39 "Support Gateway"
https://www.jetbrains.com/remote-development/gateway/

[2022-01-19 14:50] gogainda opened #40 "Code inside (...) treated as one line"
Idea
<img width="734" alt="Screenshot 2022-01-19 at 15 45 42" src="https://user-images.githubusercontent.com/379758/150154367-451eb039-db75-4e9c-afe8-bbc271fa9c61.png">

VSCode
<img width="423" alt="Screenshot 2022-01-19 at 15 49 07" src="https://user-images.githubusercontent.com/379758/150154540-4cd3365f-f6c8-48a7-83b8-5c58d0db1317.png">

[2022-01-26 21:29] UtopiaEH commented on #32
The same problem have use custom palette ident rainbow 1.7.0 and intelji utltimate 2021.3.1

[2022-01-27 21:35] doaldodm commented on #32
Version 1.7.0,   IntelliJ version 2021.3.1, I'm getting the same issue; the transparency slider works fine with default colors but won't work with custom colors. Despite that, this plugin is fantastic.

[2022-01-29 13:02] dima74 commented on #40
@gogainda Hi! Please try to use simple highlighter:
![](https://raw.githubusercontent.com/dima74/intellij-indent-rainbow/master/assets/choose-simple-annotator.png)

[2022-02-04 12:16] HonoluluHenk opened #41 "Severe logspam due to calling a deprecated method"
The plugin creates a massive amount of logspam in the system log (syslog) because it seems to be calling a deprecated method.

This error was reported 21260 times in just 2-3 hours.

I'm using linux, not sure if other OS are affected. This might possibly be the case since the error refers to some IntelliJ-Plugin-API.

Log-Entry:
```Feb  4 13:05:38 my-hostname jetbrains-idea.desktop[7792]: 2022-02-

[2022-02-06 10:55] akmalick commented on #41
I can confirm this. I am on a Windows 10 System.
Looking at the log for past 2 hours, in my case it was reported **9480** times :

`Exception 'com.intellij.diagnostic.PluginException: 'AnnotationHolder.createInfoAnnotation()' method (the call to which was found in class indent.rainbow.IrAnnotatorImpl) is slow, non-incremental and thus can cause unexpected behaviour (e.g. annoying blinking), is dep

[2022-02-17 16:55] dima74 commented on #41
@HonoluluHenk @akmalick @robp94 Could you please try this version of the plugin and check whether issue was fixed:

[Indent Rainbow-2.0.0.zip](https://github.com/dima74/intellij-indent-rainbow/files/8090613/Indent.Rainbow-2.0.0.zip)

[2022-02-26 22:54] HonoluluHenk commented on #41
works for me, too.

Thanks a lot!

[2022-03-14 10:11] dima74 commented on #41
Fixed in [v2.0.1](https://plugins.jetbrains.com/plugin/13308-indent-rainbow/versions/stable/161785)

[2022-03-14 10:11] #41 closed

[2022-03-14 10:13] dima74 commented on #30
Should be fixed in [v2.0.1](https://plugins.jetbrains.com/plugin/13308-indent-rainbow/versions/stable/161785) where we started to use indent-based highlighter by default

[2022-03-14 10:13] #30 closed

[2022-03-14 10:14] dima74 commented on #18
Fixed in [v2.0.1](https://plugins.jetbrains.com/plugin/13308-indent-rainbow/versions/stable/161785)

[2022-03-14 10:14] #18 closed

[2022-03-14 10:15] dima74 commented on #27
Fixed in [v2.0.1](https://plugins.jetbrains.com/plugin/13308-indent-rainbow/versions/stable/161785)

[2022-03-14 10:15] #27 closed

[2022-03-14 10:18] dima74 commented on #14
We don't use anything related to formatter in [v2.0.1](https://plugins.jetbrains.com/plugin/13308-indent-rainbow/versions/stable/161785) by default, so I guess we can close this

[2022-03-14 10:18] #14 closed

[2022-04-08 17:43] neopaf opened #42 "strange effect on YAML arrays"
when I just open a file with YAML arrays, it looks sad:
[code]
![Снимок экрана 2022-04-08 в 20 41 16](https://user-images.githubusercontent.com/4362564/162493909-6eeb957d-4cf8-4c41-9a05-54f0fa375e9d.png)

But once I edited likes that start with dash, it gets fixed:

![Снимок экрана 2022-04-08 в 20 42 12](https://user-images.githubusercontent.com/4362564/162494006-5636553c-9ff1-469b-9dc7-bc912f657d

[2022-04-11 19:49] burkybang opened #43 ""Never highlight indent as error for languages" option not working"
I have included "HTML" and "JavaScript", but I'm still seeing the red indent. I've tried searching any documentation to see if I'm doing it wrong, but I haven't found any examples.

![image](https://user-images.githubusercontent.com/927886/162816889-d812c079-3a71-4286-ab11-dd78beed51a5.png)

![image](https://user-images.githubusercontent.com/927886/162816956-61de07c8-cf0d-42c0-a1f3-d53d9e26166d.pn

[2022-04-14 12:02] dima74 commented on #42
@neopaf Hi! Please update the plugin to version [`2.0.2`](https://plugins.jetbrains.com/plugin/13308-indent-rainbow/versions/stable/162919) (available in 2021.3)

[2022-04-14 12:22] dima74 commented on #43
@burkybang Hi! You did everything right, this is a bug, will be fixed in next release. As a workaround you can add `ECMAScript 6` to list of ignored languages for now

[2022-04-14 12:25] dima74 commented on #40
@gogainda should be fixed in latest release [`2.0.2`](https://plugins.jetbrains.com/plugin/13308-indent-rainbow/versions/stable/162919). Please feel free to reopen if you encounter any problems

[2022-04-14 12:25] #40 closed

[2022-04-14 12:56] burkybang commented on #43
Thanks! That worked

[2022-04-15 09:27] neopaf commented on #42
upgraded to IntelliJ IDEA 2022.1 (Ultimate Edition), everything's fine, thanks, Dima!

![Снимок экрана 2022-04-15 в 12 24 58](https://user-images.githubusercontent.com/4362564/163553611-83175675-d1ed-428e-8bbe-de7b8bfb241c.png)

Not sure why autoupdate(enabled) failed me...
![Снимок экрана 2022-04-15 в 12 26 46](https://user-images.githubusercontent.com/4362564/163553794-580b3c7f-0134-459b-99b8-07

[2022-04-15 09:27] #42 closed

[2022-04-15 09:27] neopaf commented on #42
it works much faster here too! thanks again!

[2022-04-20 14:31] robfreundlich opened #44 "Non-error indentation being highlighted as error"
In Typescript (and possibly other languages - I haven't checked), code that is properly indented is being marked with my error-indent color. Here's an example:

![image](https://user-images.githubusercontent.com/7975013/164253219-6717fff7-3583-4970-b352-33f6f1d70b50.png)

Sorry to pixelate the actual content - my company is very strict about source code being visible. But I've left all of the punc

[2022-04-25 15:29] ekatz-quotient opened #45 "Custom color scheme not working"
Hi,
I used to disable the red error indent from "Color Scheme > Indent Rainbow" but it doesn't work with the new highlighter.
With the old one ("Use formatter highlighter in these files") it still works, but this highlighter doesn't work on empty lines, which makes it not as good.
It would be nice if the "Color Scheme" settings could work with the default highlighter.
Thank you for this great plug

[2022-05-16 20:36] Gideon-Felt opened #46 "Incapable of installing"
2022.0.1 - 2022.1.1
Click the install button from the plugins page and nothing happens, after numerous restarts of Pycharm, it shows as uninstalled each time I return to the plugins section in settings.

[2022-05-31 17:50] voom commented on #46
Plugin is not yet compatible with version 2022. I can take it and update compatibility platform.

[2022-06-03 10:43] dima74 commented on #45
Hi @ekatz-quotient! Sorry for the long response

If you want to disable red color, please use option `Never highlight indent as error` in advanced settings:

![image](https://user-images.githubusercontent.com/6505554/171837462-06cecbc9-9dea-40fc-bf1d-8181c008a51e.png)

Also please note that for new highlighter, custom color sheme should be configured in [Indent rainbow settings](https://user-image

[2022-06-03 10:56] dima74 commented on #46
Hi @Gideon-Felt! Unfortunately, I can't reproduce this issue. Could you please provide some details - at least your OS, exact version of PyCharm (Community/Professional, etc) and [`idea.log`](https://intellij-support.jetbrains.com/hc/en-us/articles/207241085-Locating-IDE-log-files)

[2022-06-03 19:29] Gideon-Felt commented on #46
I've come back to this a few days later. When trying to install the plugin, I was actually given a helpful prompt this time, saying I didn't have permission, So I restarted the IDE with administrative permissions, and it was installed and remained installed and visually changed the editor. So I'm guessing this was some IntelliJ issue not your plugin's issue.

[2022-06-03 19:29] #46 closed

[2022-06-03 19:33] Gideon-Felt commented on #46
Also for reference:
* Windows 11 (This alone can be an issue)
* 2022.1.2 CE

I'll leave the `idea.log` out since this resolved itself anyways.

[2022-06-06 09:25] ekatz-quotient commented on #45
Cool, it would be great if the caption indicated that `*` is an option.

[2022-06-06 09:25] #45 closed

[2022-07-23 15:41] ducktordanny opened #48 ""Indent rainbow now shows on empty lines" feature has no option to disable it"
I loved how it was before and I don't really understand why it was necessary to change. It would be great if we would have a settings option where we could choose whether we want it to be shown on an empty line whether not.

[2022-07-23 15:45] dima74 commented on #48
Hi @ducktordanny! There is such option:

![image](https://user-images.githubusercontent.com/6505554/180612376-e340ae78-97ea-465d-9390-4373ae0b445e.png)

[2022-07-23 15:51] ducktordanny commented on #48
Oh nice, it seems I jumped over that options, thanks for clearing it out. :)

[2022-07-23 15:51] #48 closed

[2022-08-05 06:32] happylittle2010 opened #49 "Indents don't appear on soft wraps"
If a line is soft-wrapped by the IDE, the part that is soft-wrapped will not display Rainbow Indent.
Thanks~!
<img width="828" alt="2022-08-05 142109" src="https://user-images.githubusercontent.com/103850690/183014853-e11345e2-f2a2-485f-91cb-d21bf35e8513.png">

Indent Rainbow：2.0.2
IDE：JetBrains Rider 2022.2  #RD-222.3345.139, built on August 1, 2022
Runtime version: 17.0.3+7-b469.32 amd64
VM: Ope

[2022-09-05 09:22] trydofor opened #51 "please restore `Never highlight indent as error(in red color)`"
I remember the previous version, there is an option to disable the ERROR color to show

there are almost some wrapped long lines, eg. long parameter, long expression, which aligns to the top level. and `intellij-indent-rainbow` mark these line as ERROR indent.

the (Red) ERROR color makes me nervous :)
please restore the option.

[2022-09-05 09:33] trydofor commented on #51
Never highlight indent as error(in red color)
version 1.7.0

[2022-09-09 03:45] dima74 commented on #51
Hi @trydofor! It is still possible, just use "Never highlight indent as error for languages" settings (specify `*` to disable error highlighting in all files)

![](https://user-images.githubusercontent.com/6505554/189267368-6f492cac-d5d0-4e69-a394-063b976d384d.png)

[2022-09-09 04:49] dima74 commented on #32
@UtopiaEH @doaldodm could you please try the latest version [v2.0.2](https://plugins.jetbrains.com/plugin/13308-indent-rainbow/versions/stable/162919)? This should be fixed there

[2022-09-09 04:54] dima74 commented on #44
This is a known limitation of the current highlighter, which just checks the number of spaces. We had highlighter based on formatting previously, but it was slow and had other problems (btw you can still enable it in settings, but it is not recommended).

For now I suggest you use option ["Never highlight indent as error for languages"](https://user-images.githubusercontent.com/6505554/189267368-6

[2022-09-09 06:16] trydofor commented on #51
thanks, I never think about this options.
I downgrade to 1.7.0 and upgrade back now 😃

[2022-09-09 06:16] #51 closed

[2022-10-16 17:49] p0lygun opened #52 "How to disable rainbow indent for django template language ?"
![image](https://user-images.githubusercontent.com/22869882/196050309-db997b88-6335-4352-ab35-b012a485f43b.png)

[2022-10-30 19:16] dima74 commented on #52
Hi @p0lygun! Please try `DjangoTemplate`

[2022-11-02 12:23] p0lygun commented on #52
ok lemme check one sec

[2022-11-02 12:25] p0lygun commented on #52
Nope!!, still highlighting
![image](https://user-images.githubusercontent.com/22869882/199489045-8cd094cb-41d8-4de8-a58c-3aee6e12d3ef.png)

[2022-11-03 01:52] dima74 commented on #52
Oh, I see you want to disable the indent rainbow entirely for the Django files. Currently, we only have the option to enable rainbow in specific files, not the opposite. So if you e.g. know beforehand the set of files you work with (e.g. JavaScript, HTML, CSS etc), you can try to specify all those in `Enable only in these files` field, therefore in other files including Django rainbow will be disa

[2022-11-25 17:58] joseehilton147 opened #54 "Update to rider 2022.3"
Please update it to rider 2022.3